.find-league-filter {
  background-color: $theme-ui-colors-grey1;
  padding: $size-space-4;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sort-by {
  margin-left: $size-space-6;
  display: flex;
  flex-wrap: wrap;

  &-title {
    font-family: $font-family-normal;
    color: $theme-ui-colors-darkgrey2;
    font-size: $font-size-normal;
    width: 100%;
    margin-bottom: $size-space-2;
  }
}

.find-league-search {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: $size-space-4;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}