.team-list-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: $size-space-6;

  &-item {
    width: calc((100% - 60px)/ 5);
    margin-bottom: $space;
    img {
      width: 100%;
    }

    @media screen and (min-width: 650px) {
      width: calc((100% - 200px)/ 5);
      margin-right: 20px;
    }

    @media screen and (min-width: 850px) {
      width: calc((100% - 260px)/6);
      margin-right: 20px;
    }

    @media screen and (min-width: 1024px) {
      width: calc((100% - 260px)/7);
      margin-right: 20px;
    }
  }
}

