// Color pallete
$theme-ui-colors-white: #FFFFFF;
$theme-ui-colors-black: #000000;
$theme-ui-colors-grey1: #F7F7F7;
$theme-ui-colors-grey2: #E0E0E0;
$theme-ui-colors-grey3: #BDBDBD;
$theme-ui-colors-grey4: #C5C5C5;
$theme-ui-colors-grey5: #8B8B8B;
$theme-ui-colors-grey6: #828282;
$theme-ui-colors-darkgrey1: #4F4F4F;
$theme-ui-colors-darkgrey2: #333333;
$theme-ui-colors-darkgrey4: #00000099;
$theme-ui-colors-darkgrey5: #000000DE;
$theme-ui-colors-blue1: #EAF0F4;
$theme-ui-colors-blue2: #56CCF2;
$theme-ui-colors-blue3: #2D9CDB;
$theme-ui-colors-blue4: #2F80ED;
$theme-ui-colors-darkblue1: #003366;
$theme-ui-colors-red: #EB5757;
$theme-ui-colors-yellow: #F2C94C;
$theme-ui-colors-orange: #FFB24A;
$theme-ui-colors-lightorange: #FFE7BD;
$theme-ui-colors-green1: #7AE28C;
$theme-ui-colors-green2: #6BE681;
$theme-ui-colors-green3: #37B04C;
$theme-ui-colors-green4: #279D44;
$theme-ui-colors-green4: #289E45;

// Fonts
$font-family-normal: "Roboto",Helvetica,Arial,sans-serif;
$font-family-hero: "Raleway",Helvetica,Arial,sans-serif;
$font-line-height-tiny: 1.5;
$font-line-height-small: 1.43;
$font-line-height-normal: 1.5;
$font-line-height-section-title: 1.4;
$font-line-height-kicker: 1.57;
$font-line-height-display-3: 1.29;
$font-line-height-display-2: 1.19;
$font-line-height-display-1: 1.24;
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-section-title: 20px;
$font-size-kicker: 14px;
$font-size-display-3: 28px;
$font-size-display-2: 32px;
$font-size-display-1: 42px;
$font-weight-normal: 400;
$font-weight-regular: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-superbold: 900;
$size-font-small: 0.75;
$size-font-medium: 1;
$size-font-large: 2;
$size-font-base: 1;

// Margin
$size-space-0: 0;
$size-space-1: 4px;
$size-space-2: 8px;
$size-space-3: 12px;
$size-space-4: 16px;
$size-space-5: 20px;
$size-space-6: 24px;
$size-space-7: 28px;
$size-space-8: 32px;
$size-space-9: 36px;
$size-space-10: 40px;
$size-space-11: 44px;
$size-space-12: 48px;
$size-space-13: 52px;
$size-space-14: 56px;
$size-space-15: 60px;
$size-space-16: 64px;

// Radius
$default-radius: 8px;

// Space
$space-quarter: $size-space-1;
$space-half: $size-space-2;
$space: $size-space-4;
$space-and-half: $size-space-6;
$space-double: $size-space-8;
$space-quadruple: $size-space-16;
