.section-title {
  font-family: 'Roboto', sans-serif;
  font-style: $font-weight-normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: $theme-ui-colors-darkgrey2;
  margin-bottom: $space;
}